h1{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
table {
    text-align: center;
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 18px 12px;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid #ddd;
}
button {
    background-color: transparent;
    font-size: 1em;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
button:hover {
    background-color: #e0e0e0;
}
.hidden {
    display: none;
}
.masInformacion {
    margin-left: auto;    
    width: 100%;
}
.masInformacion div {
margin-bottom: 10px;
}

p{
    text-align: center;
    font-size: 1.5em;
}

.infoTabla table{
    margin-left: 25%;    

}